<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加用户</title>
</head>
<body>
<div class="easyui-layout" data-options="fit:true,border:false" >
    <div data-options="region:'center',border:false" style="overflow: hidden;padding: 3px;" >
        <form id="addPersonneForm" method="post" onsubmit="return preventForm()">
            <table class="grid">
                <tr>
                    <td><select class="easyui-combobox" data-options="panelHeight:'auto'" id="numtype">
                        <option>身份证</option>
                        <option>护照</option>
                        <option>AAAA证</option>
                    </select></td>
                    <td><input id="num"  class="easyui-textbox" style="height: 25px;width: 100px;" placeholder="请输入证件号码"  class="easyui-validatebox span2" data-options="required:true" value=""></td>
                    <td  data-localize="personneName">姓名</td>
                    <td><input id="name"  class="easyui-textbox" style="height: 25px;width: 100px;" placeholder="请输入姓名" class="easyui-validatebox span2" data-options="required:true" value=""></td>
                </tr>
                <tr>
                    <td data-localize="personneDept" >所属部门</td>
                    <td>
                        <select id="personnedept" style="width: 100px">
                        </select>
                    </td>
                    <td data-localize="personneCountry">国家</td>
                    <td> <select id="country" class="easyui-combobox" data-options="panelHeight : 'auto'" style="width: 100px">
                    </select>
                    </td>
                </tr>
                <tr>
                    <td data-localize="personneSex" >性别</td>
                    <td>
                        <span data-localize="personneMale" >男</span> <input type="radio" checked="checked" name="Sex" value="男" />
                        <span data-localize="personneFemale">女</span><input type="radio" name="Sex" value="女" />
                    </td>
                    <td data-localize="personnepersontype">人员类型</td>
                    <td>
                        <select id="type" class="easyui-combobox" data-options="panelHeight : 'auto'" style="width: 100px">
                            <option>医务人员</option>
                            <option>病人</option>
                        </select>
                    </td>
                </tr>

                <tr>
                    <td data-localize="personneAdmissionTime">入院时间</td>
                    <td>
                        <input id="dd" type="text">
                    </td>
                    <td data-localize="personneDischargeTime">出院时间</td>
                    <td>
                        <input id="dd2" type="text">
                    </td>
                </tr>
                <tr>
                    <td data-localize="personneDanwei">单位</td>
                    <td colspan="4" align="left">
                        <input id="unit" type="text" class="easyui-textbox" data-options="required:true" style="width:145px; overflow: hidden;" >
                    </td>


                </tr>
            </table>
        </form>
    </div>
</div>


<script>

    //国际化

    $.language.personneNum = {'en':"Num","zh":"证件号"};
    $.language.personneName = {'en':"Name","zh":"姓名"};
    $.language.personneDept = {'en':"Departmen","zh":"部门"};
    $.language.personneAble = {'en':"Able","zh":"状态"};
    $.language.personneSex = {'en':"Sex","zh":"性别"};
    $.language.personneAble = {'en':"Able","zh":"状态"};
    $.language.personneCountry = {'en':"Country","zh":"国籍"};
    $.language.personneDanwei = {'en':"Company","zh":"单位"};
    $.language.personneWatch = {'en':"Equipment number","zh":"设备编号"};
    $.language.personneMale = {'en':"Male","zh":"男"};
    $.language. personneFemale = {'en':"Female","zh":"女"};
    $.language. personnewarn = {'en':"Warnning","zh":"报错"};



    $.language.personneadd = {'en':"Add","zh":"添加"};
    $.language.personneedit = {'en':"Edit","zh":"编辑"};
    $.language.personnedel = {'en':"Delete","zh":"删除"};
    $.language.personneSearch = {'en':"Search","zh":"搜索"};
    $.language.personneClear = {'en':"Clear","zh":"清除"};
    $.language.personneStarTime = {'en':"StartTime","zh":"开始时间"};
    $.language.personneEndTime = {'en':"EndTime","zh":"结束时间"};
    $.language.Certificatetype = {'en':"Certificatetype","zh":"证件类型"};
    $.language.personneAdmissionTime = {'en':"Admission time","zh":"入院时间"};
    $.language.personneDischargeTime = {'en':"Discharge time","zh":"出院时间"};
    $.language.personnepersontype = {'en':"Personnel type","zh":"人员类型"};

    $.language.updateDom($('#addPersonneForm'));
    //ajax complete
    function ajaxComplate() {
        progressClose();
        parent.$.modalDialog.success();//.datagrid('reload');//之所以能在这里调用到parent.$.modalDialog.openner_dataGrid这个对象，是因为user.jsp页面预定义好了
        parent.$.modalDialog.handler.dialog('close');
    }
    //初始化data
    $('#dd,#dd2').datebox({
        required:true
    });
    //阻止表单提交 改成ajax提交
    function preventForm() {
        console.log("22");
        var numtype =  $("#numtype").find("option:selected").text();
        var num =  $.trim($('#num').val());
        var name = $.trim($('#name').val());
        var belongdept = $('#personnedept').combotree('getValue');
        var personnecountry = $('#country').combobox('getValue');

        var personsex =  $("input[type='radio']:checked").val();

        var personnetype =  $("#type").val();
         console.log('xxx');
        var unit =$.trim($('#unit').val());
        var entertime =$('#dd').datebox('getValue');
        var outtime =$('#dd2').datebox('getValue');
        var param = {num:num,cardType:numtype,name:name,sex:personsex,country:personnecountry,org:belongdept,type:personnetype,unit:unit,enterTime:entertime,outTime:outtime};
        console.log("33");
        $.mkUtil.ajax({
            type:"POST",
            url:'/client/add',
            data:JSON.stringify(param),
            contentType:'application/json',
            success:function (data) {
                if(data.success == true){
                    $('#personne_datagrid').datagrid('appendRow', param);
                    ajaxComplate();
                }else {
                    $.messager.alert($.language.i18n('personnewarn') ,data.error,'info', function () {
                        if (flag) {
                        }
                    });
                }},
            error:function () {
                ajaxComplate();
            }
        });
        return false;
    }
    //初始化部门树
    (function getdept() {
        $.mkUtil.ajax({
            type:'GET',
            url:$.webapi.dept.findAll,
            dataType:'json',
            contentType:'application/json',
            success:function (data) {
                if(data.success = true){
                    for(var i=0;i<data.data.length;i++){
                        var parent = data.data[i].parent;
                        data.data[i].iconCls = parent=='0'?'icon-dept2':' icon-dept3 ';
                        data.data[i].text = data.data[i].title;
                    }
                    initCombtree(data.data);
                }
            }
        });
    })();
    function initCombtree(data) {
        $("#personnedept").combotree({
            data:data,
            parentField : 'parent',
            lines : true,
            panelHeight : 'auto',
            required:true
//                        value:${res.parentId},
//            onSelect:function (node) {
//                var parent = node.id;
//                console.log(parent);
//            }
        });
    }
    //初始化国家
    var countryarry = [];
    $.mkUtil.ajax({
        type:'GET',
        url:'/country/findCountryByCol',
        dataType:'json',
        contentType:'application/json',
        success:function(data){
            if(data.success == true){
                for (var i = 0;i<data.data.length;i++){
                countryarry.push({"id":data.data[i].id,"text":data.data[i].title});
                }
            }
            initCountry();
        }
    });
    function initCountry(){
        $('#country').combobox({
            data:countryarry,
            valueField:'id',
            textField:'text',
            required:true
        });
    }

    //初始化设备
    var deptarry = [];
    $.mkUtil.ajax({
        type:'GET',
        url:'/watch/findAll',
        dataType:'json',
        contentType:'application/json',
        success:function(data){

                for (var i = 0;i<data.rows.length;i++){
                    deptarry.push({"id":data.rows[i].id,"text":data.rows[i].cardNo});
                }
            console.log(deptarry);
            initdept();
        }
    });
    function initdept(){
        $('#watch').combobox({
            data:deptarry,
            valueField:'id',
            textField:'text',
            required:true
        });
    }

</script>
</body>
</html>