<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加用户</title>
</head>
<body>
<div class="easyui-layout" data-options="fit:true,border:false" >
    <div data-options="region:'center',border:false" style="overflow: hidden;padding: 3px;" >
        <form id="addRoleForm" method="post" onsubmit="return preventForm()">
            <table class="grid">
                <tr>
                    <td data-localize="roletitle" ></td>
                    <td>
                        <input id="rolerole" data-localize="roletitlepl" name="username" type="text" style="height: 25px;width: 200px;" placeholder="Please input role name" class="span2" data-options="required:true" value="">
                    </td>
                </tr>
                <tr>
                    <td data-localize="roledescrition"></td>
                    <td>
                        <input data-localize="roledescritionpl" id="roledescription" name="description" type="text" style="height: 25px;width: 200px;" placeholder="Please input role description" class="span2" data-options="required:true" value="">
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>


<script>

    //i18n
    //roletitle roletitlepl roledescrition roledescritionpl
    $.language.roletitle = {'en':'Role Title','zh':'角色名称'};
    $.language.roletitlepl = {'en':'Please input role name','zh':'请输入角色名称'};
    $.language.roledescrition = {'en':'Role Description','zh':'角色描述'};
    $.language.roledescritionpl = {'en':'Please input role description','zh':'请输入角色描述'};

    $.language.updateDom($("#addRoleForm"));

    //init easyui-validatebox
    $("#rolerole").validatebox();
    $("#roledescription").validatebox();



    //ajax complete
    function ajaxComplate() {
        progressClose();
        parent.$.modalDialog.success();//.datagrid('reload');//之所以能在这里调用到parent.$.modalDialog.openner_dataGrid这个对象，是因为user.jsp页面预定义好了
        parent.$.modalDialog.handler.dialog('close');
    }


    //阻止表单提交 改成ajax提交
    function preventForm() {
        var role = $.trim($('#rolerole').val());
        var roledescription = $.trim($('#roledescription').val());
        var param = {role:role,description:roledescription,resourceIds:[]};
        $.mkUtil.ajax({
            type:"POST",
            url:'/role/create',
            contentType:'application/json',
            dataType:'json',
            data:JSON.stringify(param),
            success:function (data) {
                 ajaxComplate();
            },
            error:function () {
                ajaxComplate();
            }
        });
        return false;
    }



</script>
</body>
</html>