<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加用户</title>
</head>
<body>
<div class="easyui-layout" data-options="fit:true,border:false" >
    <div data-options="region:'center',border:false" style="overflow: hidden;padding: 3px;" >
        <form id="editRoleForm" method="post" onsubmit="return preventForm()">
            <table class="grid">
                <tr>
                    <td >role</td>
                    <td><input id="rolerole" name="username" type="text" style="height: 25px;width: 100px;" placeholder="请输入角色" class="easyui-validatebox span2" data-options="required:true" value=""></td>
                    <td >description</td>
                    <td>
                        <input id="roledescription" name="username" type="text" style="height: 25px;width: 100px;" placeholder="角色描述" class="easyui-validatebox span2" value="">
                    </td>
                </tr>
                <tr>
                    <td >resourceIds</td>
                    <td>
                        <input id="roleresourceIds">
                    </td>
                    <td >able</td>
                    <td>
                        <span >able1</span> <input type="radio" checked="checked" name="able" value="1" />
                        <span >able0</span><input type="radio" name="able" value="0" />
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>


<script>
    $.language.updateDom($("#editRoleForm"));
    var datarow = $.mkUtil.param.rowdata;
    //ajax complete
    function ajaxComplate() {
        progressClose();
        parent.$.modalDialog.success();//.datagrid('reload');//之所以能在这里调用到parent.$.modalDialog.openner_dataGrid这个对象，是因为user.jsp页面预定义好了
        parent.$.modalDialog.handler.dialog('close');
    }

    //阻止表单提交 改成ajax提交
    function preventForm() {
        var role = $.trim($('#role').val());
        var roledescription = $.trim($('#roledescription').val());
        var resourceIds =$('#resourceIds').combobox('getValue');
        var able = $("input[type='radio']:checked").val();
        var param = {role:role,roledescription:roledescription,resourceIds:resourceIds,able:able};
        $.mkUtil.ajax({
            type:"UPDATE",
            url:'/role/update',
            data:JSON.stringify(param),
            success:function (data) {
                if(data.success == true){

                    ajaxComplate();
                }else {
                    alert(data.error);
                }},
            error:function () {
                ajaxComplate();
            }
        });
        return false;
    }
    //编辑role的列表初始化 //
    function initRoleData(data){
        $('#role').val(data.role);
        $('#roledescription').val(data.description);

        //resourceids赋值
        var able =data.able;
        $("input[name='radio'][value=able]").attr("checked",true);
    }
    initRoleData(datarow);


    //初始化resourceids
    $.mkUtil.ajax({
        type:'GET',
        url:'',
        cache:false,
        contentType:'application/json',
        success:function(data){
            if (data.success==true){
            initCombobox(data.data);
            }
        }
    });
    //初始化combox
   function initCombobox(data){

   }

</script>
</body>
</html>