<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>设备管理</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <script type="text/javascript" src="../static/libs/easyui/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/util.js"></script>
    <script type="text/javascript" src="../static/libs/easyui/jquery.easyui.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/libs/easyui/themes/gray/easyui.css">
    <link rel="stylesheet" type="text/css" href="../static/libs/easyui/themes/color.css">
    <link rel="stylesheet" type="text/css" href="../static/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../static/font/icomoon/style.css">
    <script type="text/javascript" src="../static/js/language.js"></script>
	<script type="text/javascript" src="../static/libs/easyui/locale/easyui-lang-zh_CN.js"></script>
	<script type="text/javascript" src="../static/js/webapi.js"></script>
</head>
<body>
	<div id="tb" style="padding:5px;height:auto">
		<div style="margin-bottom:5px; border-bottom: 1px solid #ccc">
			<a id="equipmentadd" href="#" class="easyui-linkbutton" iconCls="icon-addd3" plain="true" onclick="addEquipment()"></a>
			<a id="equipmentedit" href="#" class="easyui-linkbutton" iconCls="icon-edit12" plain="true" onclick="editEquipment()"></a>
			<a id="equipmentdel" href="#" class="easyui-linkbutton" iconCls="icon-dell6" plain="true" onclick="deleteEquipment()"></a>
		</div>

		<div>
			<span data-localize="equipmentClassify"></span>
			<select id="type" class="easyui-combobox" panelHeight="auto" style="width:100px">
				<option value="4">不限</option>
				<option value="1">手表</option>
				<option value="2">手环</option>
				<option value="0">卡片</option>
			</select>
			<span style="margin-left: 50px" data-localize="equipmentSearchMode"></span>
			<select id="searchMode" class="easyui-combobox" panelHeight="auto" style="width:100px">
				<option value="1">卡号</option>
				<option value="2">编号</option>
				<option value="3">Mac地址</option>
			</select>
             <input id="txt" class="easyui-textbox" >
			 <a id="equipmentSearch" href="#" class="easyui-linkbutton" iconCls="icon-search" onclick="searchEquipment()"></a>
		</div>
	</div>
    <div class="body-container" style="width: 100%;height: 100%;position: absolute;">
        	<table id="equipment_datagrid"  style="width:100%;">

            </table>
    </div>
</body>

<script>

    var iframereloadfunc = function () {
        window.location.reload();
    };

    //调试的时候需要设置url
    remoteBaseUrl = "http://192.168.0.153:8080";

    $.mkUtil.console('equipment.html');

    //i18n
    $.language.equipmentnum = {'en':"EquipmentNum",'zh':'设备编号'};
    $.language.equipmentCardNum = {'en':"CardNum",'zh':'卡号'};
    $.language.equipmentMac = {'en':"Mac",'zh':'mac地址'};
    $.language.equipmentType = {'en':"Type",'zh':'类型'};
    $.language.equipmentStandard = {'en':"Standard",'zh':'规格'};
    $.language.equipmentColor = {'en':"Color",'zh':'颜色'};
    $.language.equipmentTiedState = {'en':"TiedState",'zh':'绑定状态'};
    $.language.equipmentPurchaseTime = {'en':"PurchaseTime",'zh':'采购日期'};
    $.language.equipmentIsRejected = {'en':"IsRejected",'zh':'报废状态'};
    $.language.equipmentRejectedTime = {'en':"RejectedTime",'zh':'报废时间'};
    $.language.equipmentOnline = {'en':"Online",'zh':'在线'};
    $.language.equipmentElectricity = {'en':"Electricity",'zh':'电量'};
    $.language.equipmentReportTime = {'en':"ReportTime",'zh':'上报时间'};
    $.language.equipmentScene = {'en':"Scene",'zh':'场景'};
    $.language.equipmentadd = {'en':"Add","zh":"添加"};
    $.language.equipmentedit = {'en':"Edit","zh":"编辑"};
    $.language.equipmentdel = {'en':"Delete","zh":"删除"};
    $.language.equipmentOk = {'en':'Ok','zh':'确认'};
    $.language.equipmentCancle = {'en':'Cancel','zh':'取消'};
    $.language.equipmentSearch = {'en':"Search","zh":"搜索"};
    $.language.equipmentClassify = {'en':"Classify","zh":"分类"};
    $.language.equipmentAll = {'en':"All","zh":"不限"};
    $.language.equipmentWatch = {'en':"Watch","zh":"手表"};
    $.language.equipmentBracelet = {'en':"bracelet","zh":"手环"};
    $.language.equipmentCard = {'en':"card","zh":"卡片"};
    $.language.equipmentSearchMode = {'en':"SearchMode","zh":"搜索方式"};
    $.language.equipmentTip = {'en':"Tip","zh":"提示"};
    $.language.equipmentTipE = {'en':"Select the line you want to edit","zh":"请选中要编辑的行"};
    $.language.equipmentTipD = {'en':"Select the row to delete","zh":"请选中要删除的行"};
    $.language.equipmentTipF = {'en':"Device not found","zh":"未找到相关设备"};
    $.language.equipmentTipS = {'en':"Are you sure you want to delete","zh":"确定要删除吗"};
    $.language.equipmentTipB = {'en':"The device is bound or bound to history","zh":"该设备已绑定或有绑定历史"};


    $("#equipmentadd").text($.language.i18n("equipmentadd"));
    $("#equipmentedit").text($.language.i18n("equipmentedit"));
    $("#equipmentdel").text($.language.i18n("equipmentdel"));
    $("#equipmentSearch").text($.language.i18n("equipmentSearch"));
    $("#equipmentCardnum").textbox({prompt:$.language.i18n("equipmentCardNum")});
    $("#equipmentNum").textbox({prompt:$.language.i18n("equipmentnum")});
    $("#equipmentMac").textbox({prompt:$.language.i18n("equipmentMac")});


    //添加设备
    function addEquipment() {
        parent.$.modalDialog({
            title : $.language.i18n('equipmentadd'),
            width : 550,
            height :350,
            href : '../template/eqptadd.html',
            buttons : [ {
                text : $.language.i18n('equipmentadd'),
                handler : function() {
                    parent.$.modalDialog.success = iframereloadfunc;//因为添加成功之后，需要刷新这个treeGrid，所以先预定义好
					var f = parent.$.modalDialog.handler.find('#eqptAddForm');
					console.log(f);
                    f.submit();

                }
            } ]
        });
    }

    //编辑设备
    function editEquipment() {
        var eqptRow = $("#equipment_datagrid").datagrid('getSelected');
        if(eqptRow != null){
            $.mkUtil.param = {eqptRow:eqptRow};
            parent.$.modalDialog({
                title : $.language.i18n('equipmentedit'),
                width : 500,
                height : 350,
                href : '../template/eqptupdate.html',
                buttons : [ {
                    text : $.language.i18n('equipmentedit'),
                    handler : function() {
                        parent.$.modalDialog.success = iframereloadfunc;//因为添加成功之后，需要刷新这个treeGrid，所以先预定义好
                        var f = parent.$.modalDialog.handler.find('#eqptUpdateForm');
                        f.submit();
                    }
                } ]
            });
		}else {
            $.messager.confirm($.language.i18n('equipmentTip'),$.language.i18n('equipmentTipE'));
		}

    }
    
    //查询设备
	function searchEquipment() {
        var type = $("#type").combobox('getValue');
        var mode = $('#searchMode').combobox('getValue');
        var txt = $('#txt').textbox('getValue');
        var param;
        if(type=='4') type='';
        if(mode == 1){
            param = {type:type,cardNo:txt};
		} else if (mode == 2){
            param = {type:type,num:txt};
		} else if(mode == 3){
            param = {type:type,macAddr:txt};
		}
        var dic = {};
		for(var k in param){
		    var v = param[k];
		    if(v == ''||v.replace(new RegExp(' ','gm'),'')==''){
		        continue;
			}else {
		        dic[k]=v;
			}
		}

        $.mkUtil.ajax({
            type: "GET",
            url: $.webapi.equipment.findAll+'?start=1&size=10',
//			url:'http://192.168.0.194:8080//watch/findAll',
            data:dic,

            success: function (data) {
                if(data.rows.length>0){
                    $("#equipment_datagrid").datagrid('loadData',data);
				}else{
                    $.messager.confirm($.language.i18n('equipmentTip'),$.language.i18n('equipmentTipF'));
				}
            }
        });
    }
    
    //删除设备
    function deleteEquipment() {
        var eqptRow = $("#equipment_datagrid").datagrid('getSelected');
        if(eqptRow != null){

            var eqptid = eqptRow.id;
            var state = eqptRow.relate;
            console.log(state);
            $.messager.confirm($.language.i18n('equipmentTip'), $.language.i18n('equipmentTipS'), function (r) {
                //判断是否有绑定历史和绑定状态
				if(r){
                if (state != 1) {
                    $.mkUtil.ajax({
                        type:"DELETE",
                        url:$.webapi.equipment.deleteEquipment+'?id='+eqptid,
                        success:function (data) {
                            if(data.success){
                                var rowIndex = $('#equipment_datagrid').datagrid('getRowIndex', eqptRow);
                                $("#equipment_datagrid").datagrid('deleteRow',rowIndex);
                            }else{
                                $.messager.confirm($.language.i18n('equipmentTip'),data.error);
							}
                        },
                        error:function () {
                        }
                    });
                } else {
                    $.messager.confirm($.language.i18n('equipmentTip'),$.language.i18n('equipmentTipB'));

                }
                }
            });
		}else{
            $.messager.confirm($.language.i18n('equipmentTip'),$.language.i18n('equipmentTipD'));
		}
    }

    //判断是否存在绑定历史
//	function isTiehis(equipmentId) {
//		var param = {id:equipmentId};
//		$.mkUtil.ajax({
//			type:'GET',
//			url:'',
//            dataType:'json',
//            contentType:'application/json',
//            data:JSON.stringify(param),
//			success:function (data) {
//				if(data.success){
//				    return true;
//				}
//            }
//		});
//        return false
//    }

    $(function () {
		getEquipment();
        //获取设备
        function getEquipment() {
            $.mkUtil.ajax({
				url:$.webapi.equipment.findAll+'?start=1&size=10',
//				url:"http://192.168.0.194:8080/watch/findAll",
                type:'GET',
               success:function (data) {
					console.log(data.rows);
                   if(data.rows.length>0){
                       $("#equipment_datagrid").datagrid('loadData',data);
                   }
               },
               error:function (data) {
					console.log(data);
               }
            });
        }

        //initView
        function initView() {
            //权限管理
            if(!$.mkUtil.perms.allitems.orgnization.create){
                $('#equipmentadd').hide();
            } else if(!$.mkUtil.perms.allitems.orgnization.update){
                $('#equipmentedit').hide();
			} else if(!$.mkUtil.perms.allitems.orgnization.delete){
                $('#equipmentdel').hide();
			}
            $("#equipment_datagrid").datagrid({
                singleSelect:true,
                rownumbers:true,
                fitColumns:true,
                pagination:true,
                pageSize: 10,
                fit:true,
                toolbar:'#tb',
                columns : [[
                    {
                    width : '80',
                    title : $.language.i18n('equipmentnum'),
                    field : 'num'
                    }
                    ,
                    {
                    width : '100',
                    title : $.language.i18n('equipmentCardNum'),
                    field : 'cardNo'
                    }
                    ,
                    {
                    width : '100',
                    title : $.language.i18n('equipmentMac'),
                    field : 'macAddr'
                    }
                    ,
                    {
                    width : '80',
                    title : $.language.i18n('equipmentType'),
                    field : 'typeM'
                    }
                    ,
                    {
                    width : '80',
                    title : $.language.i18n('equipmentStandard'),
                    field : 'standard'
                    }
                    ,
                    {
                    width : '80',
                    title : $.language.i18n('equipmentColor'),
                    field : 'colorM'
                    }
                    ,
                    {
                    width : '80',
                    title : $.language.i18n('equipmentTiedState'),
                    field : 'relateM'
                    }
                    ,
                    {
                    width : '80',
                    title : $.language.i18n('equipmentPurchaseTime'),
                    field : 'buyDate'
                    }
                    ,
                    {
                    width : '80',
                    title : $.language.i18n('equipmentIsRejected'),
                    field : 'uselessM'
                    }
                     ,
                    {
                    width : '80',
                    title : $.language.i18n('equipmentRejectedTime'),
                    field : 'uselessDate'
                    }
                     ,
                    {
                    width : '80',
                    title : $.language.i18n('equipmentOnline'),
                    field : 'onlineM'
                    }
                     ,
                    {
                    width : '80',
                    title : $.language.i18n('equipmentElectricity'),
                    field : 'battery'
                    }
                     ,
                    {
                    width : '80',
                    title : $.language.i18n('equipmentReportTime'),
                    field : 'createAt'
                    }
                     ,
                    {
                    width : '100',
                    title : $.language.i18n('equipmentScene'),
                    field : 'sceneM'
                    }
                ]]
            });
		//分页处理
		var opts = $("#equipment_datagrid").datagrid('options');
		var pager = $("#equipment_datagrid").datagrid('getPager');
        pager.pagination({
            showRefresh:false,
            showPageList:false,
            onSelectPage:function(pageNumber, pageSize){
                opts.pageNumber = pageNumber;
                opts.pageSize = pageSize;
                $.mkUtil.ajax({
                    type:'GET',
                    url:$.webapi.equipment.findAll+'?start='+pageNumber+'&size='+pageSize,
                    success:function (data) {
                        pager.pagination('refresh',{
                            pageNumber:pageNumber,
                            pageSize:pageSize
                        });
                        console.log(data.total);
                        $("#equipment_datagrid").datagrid('loadData',data);
                    }
                })
            }
        });
        }

        initView();
    });


</script>
</html>