<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>角色授权</title>
</head>
<body>

<div id="roleGrantLayout" class="easyui-layout" data-options="fit:true,border:false">
    <div data-options="region:'west'" title="" style="width: 300px; padding: 1px;">
        <div class="well well-small">
            <form id="roleGrantForm" method="post">
                <ul id="resourceTree"></ul>
                <input id="resourceIds" name="resourceIds" type="hidden" />
            </form>
        </div>
    </div>
    <div data-options="region:'center'" title="" style="overflow: hidden; padding: 10px;">
        <div>
            <button class="btn btn-success" onclick="checkAll();">全选</button>
            <br /> <br />
            <button class="btn btn-warning" onclick="checkInverse();">反选</button>
            <br /> <br />
            <button class="btn btn-inverse" onclick="uncheckAll();">取消</button>
        </div>
    </div>
</div>
<script>

    var roleId = $.mkUtil.param.roleid;
    //获取角色资源
    $.mkUtil.ajax({
        type:'GET',
        url:'/role/findById',
        cache:false,
        contentType:'application/json',
        dataType:'json',
        data:{id:roleId},
        success:function(data){
            if (data.success==true){
               initView(data.data.resourceIds)
            }
        }
    });

    function initView(ids) {
        var resourceTree=$('#resourceTree');
        var ids =ids;
        $.mkUtil.ajax({
            type: "GET",
            url: '/resource/findByColumn',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            cache:false,
            success: function (data) {
                if (data.success == true) {
                    var arr = [];
                   for(var i=0;i<data.data.length;i++){
                         var dic = data.data[i];
                         dic['text'] = dic ['name'];
                         dic['iconCls'] = 'icon-ticket';
                         arr.push(dic);
                    }
                     resourceTree = $('#resourceTree').tree({
                         data:arr,
                         parentField : 'parentId',
                         lines : true,
                         checkbox : true,
                         onClick : function(node) {},
                         onLoadSuccess : function(node, data) {
                             progressLoad();
                             if (ids.length > 0) {
                                 for ( var i = 0; i < ids.length; i++) {
                                     var node = resourceTree.tree('find', ids[i]);
                                     if (node) {
                                         resourceTree.tree('check', node.target);
                                     }
                                 }
                             }
                             progressClose();
                         },
                         cascadeCheck : false
                     });
                 }
                }
            });

        $('#roleGrantForm').form({
            onSubmit : function() {
                progressLoad();
                var isValid = $(this).form('validate');
                if (!isValid) {
                    progressClose();
                }
                var checknodes = resourceTree.tree('getChecked');
                var ids = [];
                if (checknodes && checknodes.length > 0) {
                    for ( var i = 0; i < checknodes.length; i++) {
                        ids.push(checknodes[i].id);
                    }
                }
                updateResourceIds(ids);
                return false;
            }
        });
    }


    //ajax complete
    function ajaxComplate() {
        progressClose();
        parent.$.modalDialog.success();//.datagrid('reload');//之所以能在这里调用到parent.$.modalDialog.openner_dataGrid这个对象，是因为user.jsp页面预定义好了
        parent.$.modalDialog.handler.dialog('close');
    }

    //更新resource
    function updateResourceIds(ids) {
         var param = {resourceIds:ids,able:'1',id:roleId};
         $.mkUtil.ajax({
            type:"POST",
            url:'/role/update',
            contentType:'application/json',
            dataType:'json',
            data:JSON.stringify(param),
            success:function (data) {
                ajaxComplate();
                },
            error:function () {
                ajaxComplate();
            }
        });
    }

    function checkAll() {
        if(!resourceTree){
            var resourceTree=$('#resourceTree');
        }
        var nodes = resourceTree.tree('getChecked', 'unchecked');
        if (nodes && nodes.length > 0) {
            for ( var i = 0; i < nodes.length; i++) {
                resourceTree.tree('check', nodes[i].target);
            }
        }
    }
    function uncheckAll() {
        if(!resourceTree){
            var resourceTree=$('#resourceTree');
        }
        var nodes = resourceTree.tree('getChecked');
        if (nodes && nodes.length > 0) {
            for ( var i = 0; i < nodes.length; i++) {
                resourceTree.tree('uncheck', nodes[i].target);
            }
        }
    }
    function checkInverse() {
        if(!resourceTree){
            var resourceTree=$('#resourceTree');
        }
        var unchecknodes = resourceTree.tree('getChecked', 'unchecked');
        var checknodes = resourceTree.tree('getChecked');
        if (unchecknodes && unchecknodes.length > 0) {
            for ( var i = 0; i < unchecknodes.length; i++) {
                resourceTree.tree('check', unchecknodes[i].target);
            }
        }
        if (checknodes && checknodes.length > 0) {
            for ( var i = 0; i < checknodes.length; i++) {
                resourceTree.tree('uncheck', checknodes[i].target);
            }
        }
    }


</script>
</body>
</html>