<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>人员报警</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <script type="text/javascript" src="../static/libs/easyui/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/util.js"></script>
    <script type="text/javascript" src="../static/libs/easyui/jquery.easyui.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/libs/easyui/themes/gray/easyui.css">
    <link rel="stylesheet" type="text/css" href="../static/libs/easyui/themes/color.css">
    <link rel="stylesheet" type="text/css" href="../static/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../static/font/icomoon/style.css">
    <script type="text/javascript" src="../static/js/language.js"></script>
    <script type="text/javascript" src="../static/js/extJs.js"></script>
    <script type="text/javascript" src="../static/libs/easyui/locale/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="../static/js/webapi.js"></script>

</head>
<body>
<div id="tb" style="padding:5px;height:auto">
    <span style="margin-left: 10px" >查询方式</span>
    <select id="searchMode" class="easyui-combobox" panelHeight="auto" style="width:100px" onSelect="func(y)" >
        <option value="name">人员姓名</option>
        <option value="type">人员类别</option>
        <option value="time" >时间</option>
        <option value="lac">位置</option>
        <option value="alarmname">报警名称</option>
    </select>
    <div id="ss">
        <span  style="margin-left: 10px">开始时间</span>
        <input id="start" class="easyui-datetimebox" value="10/11/2012 2:3:56" style="width:150px">
        <span style="margin-left: 10px">结束时间</span>
        <input id="end" class="easyui-datetimebox" value="10/11/2012 2:3:56" style="width:150px">
    </div>
    <div id="cc">
    <span style="margin-left: 10px">选择名称</span>
    <select id="searchName" class="easyui-combobox" panelHeight="auto" style="width:100px">
        <option value="">心率过低</option>
        <option value="">生命状态缺失</option>
        <option value="">超出YL范围</option>
        <option value="">区域人员密度过大</option>
        <option value="">医务人员过劳</option>
        <option value="">紧急呼叫</option>
    </select>
    </div>
    <input id="txt" class="easyui-textbox" style="width:150px; margin-left: 10px">
    <a id="alarmSearch" href="#" class="easyui-linkbutton" iconCls="icon-search" onclick="searchPersonnelAlarm()">查询</a>

</div>
<div class="body-container" style="width: 100%;height: 100%;position: absolute;">
    <table id="personnelalarm_datagrid"  style="width:100%;">

    </table>
</div>
</body>
<script>

    var iframereloadfunc = function () {
        window.location.reload();
    };

    //查询
    function searchPersonnelAlarm() {

        var searchMode = $('#searchMode').combobox('getValue');
        var start = $('#start').datetimebox('getValue');
        var end = $('#end').datetimebox('getValue');
        var searchName = $('#searchName').combobox('getValue');
        var msg = $('#txt').textbox('getValue');
        alert(88834);

    }
    $('#searchMode').combobox({
        onSelect:function (rec) {
            console.log(rec);
            if(rec.value == "time"){
                $('#ss').show();
                $('#txt').next().hide();
            } else if(rec.value == "alarmname"){
                $('#cc').show();
                $('#txt').next().hide();
            }
        }
    });

    $(function () {
        getData();
        //获取设备
        function getData() {
            $.mkUtil.ajax({
                url:"../api/personnelalarm.json",
                type:'GET',
                contentType:'json',
                dataTpye: 'application/json',
                success:function (data) {
                    $("#personnelalarm_datagrid").datagrid('loadData',data.data);
                }
            });
        }

        function initView() {
           // $('#tb').input[0].hide();
            $('#personnelalarm_datagrid').datagrid({
                singleSelect:true,
                rownumbers:true,
                fitColumns:true,
                pagination:true,
                pageSize: 30,
                fit:true,
                toolbar:'#tb',
                columns : [ [
                    {
                        width : '80',
                        title : "时间",
                        field : 'time'
                    }
                    ,
                    {
                        width : '100',
                        title : "位置",
                        field : 'location'
                    }
                    ,
                    {
                        width : '100',
                        title : "人员姓名",
                        field : 'name'
                    }
                    ,
                    {
                        width : '80',
                        title : "人员类别",
                        field : 'type'
                    }
                    ,
                    {
                        width : '100',
                        title : "报警名称",
                        field : 'alarmname'
                    }
                    ,
                    {
                        width : '80',
                        title : "报警内容",
                        field : 'alarmcontent'
                    }
                    ,
                    {
                        width : '80',
                        title : "确认时间",
                        field : 'confirmtime'
                    }
                    ,
                    {
                        width : '80',
                        title : "确认人",
                        field : 'confirmedby'
                    }

                ]]
            });
            var p = $('#personnelalarm_datagrid').datagrid('getPager');
            var opts = $('#personnelalarm_datagrid').datagrid('options');

            //分页处理
            p.pagination({
                showRefresh:false,
                showPageList:false,
                onSelectPage:function(pageNumber, pageSize){
                    opts.pageNumber = pageNumber;
                    opts.pageSize = pageSize;
                    var param = {pageNumber:pageNumber,pageSize:pageSize};
                    $.mkUtil.ajax({
                        type:'GET',
                        url:'',
                        data:JSON.stringify(param),
                        success:function (data) {
                            p.pagination('refresh',{
                                pageNumber:pageNumber,
                                pageSize:pageSize
                            });
                            $("#personnelalarm_datagrid").datagrid('loadData',data.rows);
                        }
                    })
                }
            });
        }

        initView();
        $('#cc').hide();
        $('#ss').hide();
        console.log("hello");
    });
</script>
</html>