<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>用户管理</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <script type="text/javascript" src="../static/libs/easyui/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/util.js"></script>
    <script type="text/javascript" src="../static/libs/easyui/jquery.easyui.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/libs/easyui/themes/gray/easyui.css">
    <link rel="stylesheet" type="text/css" href="../static/libs/easyui/themes/color.css">
    <link rel="stylesheet" type="text/css" href="../static/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../static/font/icomoon/style.css">
    <script type="text/javascript" src="../static/js/language.js"></script>
    <script type="text/javascript" src="../static/libs/easyui/locale/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="../static/js/extJs.js"></script>
    <script type="text/javascript" src="../static/js/webapi.js"></script>
</head>
<body>
<div class="easyui-layout" fit="true">
    <div data-options="region:'north'"style="height:50px;padding-left:15px;padding-top:10px;overflow: hidden; " >
                <span id="username" data-localize="userName">姓名:</span></td>
                <input id="text_username"  data-options="prompt:''"style="width:300px;"  required="required" class="easyui-textbox">
                    <a  id="searchbtn" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-search'" style="width:80px"onclick="searchUserByLike()">搜索</a>
                    <a id="clearbtn" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-bin'" style="width:80px" onclick="cleartext()">清空</a>
    </div>
    <div data-options="region:'west',title:'组织机构',split:true" style="width:150px;">
        <table id="tg"></table>
    </div>
    <div data-options="region:'center',title:'用户列表'" style="padding:5px;">
        <table id="tt">

            <!--数据列表的toolbar-->
            <div id="tb" style="height:auto">
                <a id="addbtn" href="javascript:void(0)" class="easyui-linkbutton"  data-options="iconCls:'icon-addd2'" onclick="addRows()">添加</a>
            </div>
        </table>
    </div>
</div>
<div id ="dlg" align="center">
    <span> 新密码&nbsp;: </span><input id="password" name="password" validType="length[4,32]" class="easyui-validatebox" required="true" type="password" value=""/><br/></br>
    <span> 确认密码: </span><input type="password" name="repassword" id="repassword" required="true" class="easyui-validatebox"  validType="equalTo['#password']" invalidMessage="两次输入密码不匹配"/>
</div>
<div id="bb">
    <a href="#" class="easyui-linkbutton">Save</a>
    <a href="#" class="easyui-linkbutton">Close</a>
</div>
<script>
    //i18n
    $.language.clear = {"en":"clear","zh":"清除"};
    $.language.searchbtn={"en":"Search","zh":"搜索"};
    $.language.userName={"en":"Name:","zh":"用户姓名:"};
    $.language.operation={"en":"Operation","zh":"操作"};
    $.language.state = {"en":"State","zh":"状态"};
    $.language.sex = {"en":"Sex","zh":"性别"};
    $.language.type = {"en":"Type","zh":"类别"};
    $.language.dept = {"en":"Department","zh":"部门"};
    $.language.name = {"en":"Name","zh":"姓名"};
    $.language.username = {"en":"Username","zh":"登录名:"};
    $.language.add = {"en":"Add ","zh":"添加"};
    $.language.edit = {"en":"Edit ","zh":"编辑"};
    $.language.delerow = {"en":"delete ","zh":"删除"};
    $.language.changecode = {"en":"changecode ","zh":"修改密码"};
    $.language.deledlg = {"en":"Do you want to delete it? ","zh":"确定删除吗？"};
    $.language.deledlgTitle = {"en":"warn ","zh":"确认删除"};
    $.language.OK = {"en":"YES ","zh":"确认"};



    $("#clearbtn").text($.language.i18n("clear"));
    $("#searchbtn").text($.language.i18n("searchbtn"));
    $("#text_username").text($.language.i18n("userName"));
    $("#addbtn").text($.language.i18n("add"));
    $(".edit").text($.language.i18n("edit"));
    $(".changecode").text($.language.i18n("changecode"));
    $(".del").text($.language.i18n("delerow"));



    //模糊搜索
    function searchUserByLike(){
        var keystr = $.trim($('#text_username').val()) ;
        if(keystr.length<1)return;
        isSearch = true;
        searchUserByOrgId(0,1,keystr);
//        var p = $('#tt').datagrid('getPager');
//        var opts = $('#tt').datagrid('options');
//        var page = opts.pageNumber;
//        var row  =opts.pageSize;
//        //var param={name:keystr};
//        $.mkUtil.ajax({
//            type:"GET",
//            url:'/user/findUsersByOrg?name='+keystr+'&page='+page+'&rows='+row,
//            success:function(data){
//
//                $('#tt').datagrid('loadData',data);
//            },
//            error:function () {
//                console.log('searchUserLike error');
//            }
//
//        });
    }



    //清空输入框
    function cleartext(){
        $("#text_username").textbox('clear');
    }

    var iframereloadfunc = function () {

        if(isSearch){
            searchUserByOrgId(0,currentPage,$.trim($('#text_username').val()));
        }else {
            var node = $("#tg").tree('getSelected');
            if(!node||node==null)return;
            searchUserByOrgId(node.id,currentPage);
        }
//        window.location.reload();
    };

    //添加一行
    function addRows() {
//        $('#tt').datagrid('appendRow', {  });
//        editIndex = $('#tt').datagrid('getRows').length - 1;
//        $('#tt').datagrid('selectRow', editIndex)
//            .datagrid('beginEdit', editIndex);
        parent.$.modalDialog({
            title : 'add',
            width : 500,
            height : 260,
            href : '../template/adduser.html',
            buttons : [ {
                 text : 'add',
                handler : function() {
                    parent.$.modalDialog.success = iframereloadfunc;//因为添加成功之后，需要刷新这个treeGrid，所以先预定义好
                    var f = parent.$.modalDialog.handler.find('#addUserForm');
                    f.submit();
                }
            } ]
        });
    }
    //编辑
    function edit(id){
        $.mkUtil.param ={editid:id};
        parent.$.modalDialog({
            title : $.language.i18n("edit"),
            width : 500,
            height : 260,
            href : '../template/edituser.html',
            buttons : [ {
                text : $.language.i18n("ok"),
                handler : function() {
                    parent.$.modalDialog.success = iframereloadfunc;//因为添加成功之后，需要刷新这个treeGrid，所以先预定义好
                    var f = parent.$.modalDialog.handler.find('#editUserForm');
                    f.submit();
                }
            } ]
        });

    }
    //修改密码
    function changecode(id){
        $.mkUtil.param ={changecodeid:id};
        parent.$.modalDialog({
            title : $.language.i18n("changecode"),
            width : 500,
            height : 260,
            href : '../template/changecode.html',
            buttons : [ {
                text : $.language.i18n("ok"),
                handler : function() {
                    parent.$.modalDialog.success = iframereloadfunc;//因为添加成功之后，需要刷新这个treeGrid，所以先预定义好
                    var f = parent.$.modalDialog.handler.find('#changeCode');
                    f.submit();
                }
            } ]
        });


    }
    //删除行
    function del(id,index){
        $.messager.confirm($.language.i18n("deledlgTitle"),$.language.i18n("deledlg"), function (flag) {
            if (flag) {
                var param={id:id};
                $.mkUtil.ajax({
                    type:"DELETE",
                    url:'/user/delete?id='+id,
                    dataType:'JSON',
                    contentType:'application/json',
                    success:function(){
                        $('#tt').datagrid('reload');
                    },
                    error:function () {
                        console.log('user.html del error');
                    }

                });
            }
        });
    }

    //查找用户
    var  rows=1;
    var currentOrgId=0;
    var isSearch = false;
    var currentPage=1;
    function searchUserByOrgId(orgid,page,name) {
        currentPage = page;
        currentOrgId = orgid;
        if(!page){
           var  page=1;
        }
        if(orgid!=0){
            var param ={orgId:orgid,page:page,rows:rows};
        }else {
            var param ={page:page,rows:rows};
        }
        if(name){
            param = {page:page,rows:rows,name:name};
        }
        if(isSearch){
            name = $.trim($('#text_username').val());
            param = {page:page,rows:rows,name:name};
        }
       $.mkUtil.ajax({
           type:"GET",
           url:'/user/findUsersByOrg',
//           url:'/user/findUsers',
           contentType:"application/json",
           dataType:'json',
           data:param,
           success: function (data) {
               console.log(data);
               initRightTreeGrid(data,page);
           },
           error:function(){
           }
       });
    }
    //数据列表
    function initRightTreeGrid(data,page){
        if(data.length==0){
            data.rows = [];
            data.total = 0;
            page = 1;
        }
        $("#tt").datagrid({
            data:data.rows,
            fit:true,
            fitColumns :'true' ,
//            rownumbers:'true',
            singleSelect:'true',
            pagination:true,
            pageSize:rows,
            pageList:[rows],
            columns:[[
                {
                    field: 'username',
                    title: $.language.i18n("username"),
                    width: 100,
                },
                {
                    field:'name',
                    title:$.language.i18n("name"),
                    width:100,
                },{
                    field:'title',
                    title:$.language.i18n("dept"),
                    width:100,
                },{
                    field:'type',
                    title:$.language.i18n("type"),
                    width:100,
                },{
                    field:'sex',
                    title:$.language.i18n("sex"),
                    width:100,
                },{
                    field:'operation',
                    title:$.language.i18n("operation"),
                    width:100,
                    formatter:function(value,row,index){
                        var userPerms =$.mkUtil.perms.allitems.user;
                        var str='';
                        var edit = '';
                        var changecode ='';
                        var del = '';

                        if(userPerms.update){
//                           str += '<a href="#" id="idbtnforediti18n"  name="opera" class="easyui-linkbutton " onclick="edit('+row.id+')" ></a>';
                            str += $.formatString('<a href="javascript:void(0)" class="resource-easyui-linkbutton-edit" data-options="plain:true" onclick="edit(\'{0}\');" >'+$.language.i18n('edit')+'</a>', row.id);
                            str += '|';
                            console.log(row);
                            console.log(row.id);



                        }

                        if (userPerms.update){
//                            changecode = '<a href="#" id="idbtnforcodei18n" f="opera" class="easyui-linkbutton "  onclick="changecode('+row.id+')"></a>';
//                            str += '<a href="#" id="idbtnforediti18n"  name="opera" class="easyui-linkbutton " onclick="edit('+row.id+')" ></a>';
                            str += $.formatString('<a href="javascript:void(0)" class="resource-easyui-linkbutton-edit" data-options="plain:true" onclick="changecode(\'{0}\');" >'+$.language.i18n('changecode')+'</a>', row.id,index);
                            str += '|';
                        }
                        if (userPerms.delete){
//                            del  = '<a href="#" name="opera"id="idbtnfordeli18n"  class="easyui-linkbutton "  onclick="del('+row.id+','+index+')">删除</a>';
                            str += $.formatString('<a href="javascript:void(0)" class="resource-easyui-linkbutton-edit" data-options="plain:true" onclick="del(\'{0}\');" >'+$.language.i18n('delerow')+'</a>', row.id);

                        }

                        return str;
                    }
                }
            ]],

            toolbar:'#tb',
        });


        //分页处理
        $("#tt").datagrid("getPager").pagination({
            showRefresh:false,
            showPageList:false,
            total:data.total,
            pageNumber:page,
            beforePageText:'第',
            afterPageText:'页 共 {pages}页',
            displayMsg:'显示 {from} to {to} of {total} 页面信息',
            onSelectPage:function(pageNumber, pageSize){
                searchUserByOrgId(currentOrgId,pageNumber);
            }
        });
    }
    initRightTreeGrid([]);

    //左边的树形结构
    function initLeftTree(data) {
        $("#tg").tree({
            data:data,
            parentField:'parent',
            onSelect:function (node) {
                isSearch = false;
                searchUserByOrgId(node.id);
                //根据节点使旁边的datagrid更换数据
            }
        });
    }
    $.mkUtil.ajax({
        type:'GET',
        url: $.webapi.dept.findAll,
        cache:false,
        contentType:'application/json',
        success: function (data) {
            if(data.success==true){
                for(var i=0;i<data.data.length;i++){
                    var parent = data.data[i].parent;
                    data.data[i].iconCls = parent=='0'?'icon-dept2':' icon-dept3 ';
                    data.data[i].text = data.data[i].title;
                }
                var top = {id:0,parent:-1,text:"顶级部门",iconCls:'icon-dept2'};
                data.data.push(top);
                //初始化树
                initLeftTree(data.data);
            }
        },
        error:function(){
        }
    });

</script>
</body>
</html>