<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>日志系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="">
    <script type="text/javascript" src="../static/libs/easyui/jquery.min.js"></script>
    <script type="text/javascript" src="../static/libs/easyui/jquery.easyui.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/libs/easyui/themes/gray/easyui.css">
    <link rel="stylesheet" type="text/css" href="../static/libs/easyui/themes/color.css">
    <link rel="stylesheet" type="text/css" href="../static/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../static/font/icomoon/style.css">
    <script type="text/javascript" src="../static/js/language.js"></script>
    <script>
        function loadjscssfile(filename, filetype) {
            if (filetype == "js") {
                var fileref = document.createElement('script');
                fileref.setAttribute("type", "text/javascript");
                fileref.setAttribute("src", filename);
            } else if (filetype == "css") {

                var fileref = document.createElement('link');
                fileref.setAttribute("rel", "stylesheet");
                fileref.setAttribute("type", "text/css");
                fileref.setAttribute("href", filename);
            }
            if (typeof fileref != "undefined") {
                document.getElementsByTagName("head")[0].appendChild(fileref);
            }
        }
        if(langStore=='zh'){
            loadjscssfile('../static/libs/easyui/locale/easyui-lang-zh_CN.js', 'js');
        }

    </script>
</head>
<body>
<div class="easyui-layout" fit="true">
    <div class="easyui-layout" fit="true">
        <div data-options="region:'north'"style="height:8%;padding-left:30px;padding-top:10px; " >
            <span style="margin-left: 20px" data-localize="Function">功能:</span>
            <select id="selectFun">
                <option value="1" selected="selected">日志功能</option>
                <option value="2">2...</option>
                <option value="3">3...</option>
                <option value="4">4...</option>
                <option value="5">5...</option>
            </select>
            <span style="margin-left: 20px; " data-localize="beginTime">开始时间:</span>
            <input id="dd" type="text">
            <span style="margin-left: 20px; " data-localize="endTime">结束时间:</span>
            <input id="dd2" type="text">
            <span style="margin-left: 20px; " data-localize="userName">用户姓名:</span>
            <input id="findName" type="text">
            <a id="searchbtn" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-search'" style="width:80px">搜索</a>
        </div>
        <div data-options="region:'center',title:'日志列表'" style="overflow: hidden;">
            <table id="logtable" >

                <!--数据列表的toolbar-->
                <div id="tb" style="height:auto">
                    <a id="deletebtn" href="javascript:void(0)" class="easyui-linkbutton"  data-options="iconCls:'icon-bin'" onclick="delRows()"></a>
                    <a id="exportbtn" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-cloud-download'" onclick="exportExcel()">导出</a>
                </div>
            </table>
        </div>
    </div>
</div>
    <script>

        //i18n
        $.language.log = {"en":"log","zh":"日志"};
        $.language.delete = {"en":"Delete","zh":"删除"};
        $.language.exportExcel={"en":"Save as Excel","zh":"导出Excel"};
        $.language.Function={"en":"Function","zh":"功能"};
        $.language.beginTime={"en":"BeginTime","zh":"开始时间"};
        $.language.endTime={"en":"EndTime","zh":"结束时间"};
        $.language.userName={"en":"UserName","zh":"用户姓名"};
        $.language.searchbtn={"en":"Search","zh":"搜索"};
        $.language.time={"en":"Time","zh":"时间"};
        $.language.operation={"en":"Operation","zh":"操作"};
        $.language.remark={"en":"remark","zh":"备注"};

        //easyui 的class 元素的国际化
        $("#exportbtn").text($.language.i18n("exportExcel"));
        $("#deletebtn").text($.language.i18n("delete"));
        $("#searchbtn").text($.language.i18n("searchbtn"));


        $(function(){
            //时间控件
            $('#dd').datebox({
                required:true
            });
            $('#dd2').datebox({
                required:true
            });
            //数据列表
            $('#logtable').datagrid({
                fit:true,
                url:'../api/data_log.json',
                fitColumns :'true' ,
                pagination :'true' ,
                rownumbers:'true',
                border : 'false',
                striped :'true',
                logMsg:'数据加载中',
                columns:[[
                    {
                        field:'ck',
                        checkbox:'true',
                        width:100,

                    },{
                        field:'logtime',
                        title:$.language.i18n("time"),
                        width:100,
                        align:'center'

                    },{
                        field:'logfunc',
                        title:$.language.i18n("Function"),
                        width:100,
                        align:'center'
                    },{
                        field:'logoperation',
                        title:$.language.i18n("operation"),
                        width:100,
                        align:'center'
                    },{
                        field:'logmark',
                        title:$.language.i18n("remark"),
                        width:100,
                        align:'center'

                    }]],
                toolbar:'#tb',
            });
        });
        $.ajax({
            url:'',//请求地址
            method:'GET',
            async:'false',
            dataType:'json',
            success: function (data) {
                for(var machine in data){
                    var a =[{
                        'itemid':data[machine].itemid,
                        'ck':data[machine].ck,
                        'logtime':data[machine].logtime,
                        'logfunc':data[machine].logfunc,
                        'logoperation':data[machine].logoperation,
                        'logmark':data[machine].logmark
                    }];
                    $('#logtable').datagrid('loadData', a);
                }

            },
            error: function () {
                console.log('error');
            }
        });
        //删除选中的行
        function delRows(){

            $.messager.confirm('确认删除','确认删除？', function (row) {
                if (row){
                    var rows = $('#logtable').datagrid("getSelections");
                    $.ajax({
                        url:'',
                        success:function(){
                            var copyRows = [];
                            for ( var j= 0; j < rows.length; j++) {
                                copyRows.push(rows[j]);
                            }
                            for(var i =0;i<copyRows.length;i++){
                                var index = $('#logtable').datagrid('getRowIndex',copyRows[i]);
                                $('#logtable').datagrid('deleteRow',index);
                            }
                        }
                    });


                }
            });
        }
        function exportExecel(){
            $.messager.confirm('到出表格','确认导出吗？',function(row){
                if (row){

                }

            });
        }
</script>
</body>
</html>