<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>makepush</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="">
    <script type="text/javascript" src="../static/libs/easyui/jquery.min.js"></script>
    <script type="text/javascript" src="../static/libs/easyui/jquery.easyui.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/libs/easyui/themes/gray/easyui.css">
    <link rel="stylesheet" type="text/css" href="../static/libs/easyui/themes/color.css">
    <link rel="stylesheet" type="text/css" href="../static/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../static/font/icomoon/style.css">
    <script type="text/javascript" src="../static/js/language.js"></script>
    <script>
        function loadjscssfile(filename, filetype) {
            if (filetype == "js") {
                var fileref = document.createElement('script');
                fileref.setAttribute("type", "text/javascript");
                fileref.setAttribute("src", filename);
            } else if (filetype == "css") {

                var fileref = document.createElement('link');
                fileref.setAttribute("rel", "stylesheet");
                fileref.setAttribute("type", "text/css");
                fileref.setAttribute("href", filename);
            }
            if (typeof fileref != "undefined") {
                document.getElementsByTagName("head")[0].appendChild(fileref);
            }
        }
        if(langStore=='zh'){
            loadjscssfile('../static/libs/easyui/locale/easyui-lang-zh_CN.js', 'js');
        }

    </script>
</head>
<body>
<div class="easyui-layout" fit="true">
    <div data-options="region:'north'" style="height:50px;overflow: hidden; ">
        <table style="border: 1px solid #b3b3b3;width:100%;margin-bottom: 100px;  "cellspacing="1" cellpadding="1" border="1">
            <tr style="height: 25px; border: 1px">
                <td  data-localize="department" style="background:#b7d2ff" align="right"><span>部门 ：</span></td>
                <td style="padding-left: 5px;">
                <select>
                    <option>1比如说什么</option>
                    <option>2....</option>
                    <option>3....</option>
                </select>
                </td>
                <td  data-localize="staff" style="background:#b7d2ff" align="right">人员 ：</td>
                <td style="padding-left: 5px;"><select>
                    <option>1比如说什么</option>
                    <option>2....</option>
                    <option>3....</option>
                </select>
                </td>
                <td data-localize="device" style="background:#b7d2ff" align="right">设备编号 ：</td>
                <td  style="padding-left: 5px;"><select>
                <option>1比如说什么</option>
                <option>2....</option>
                <option>3....</option>
                    </select>
                </td>
            </tr>
        </table>

    </div>
    <div id="layout" data-options="region:'center'" style="overflow: hidden;">
        <textarea  id="conditionId" name="condition" class="easyui-validatebox" data-options="required:true" style="width: 100%; height: 100%;BORDER-BOTTOM: 0px solid; BORDER-LEFT: 0px solid; BORDER-RIGHT: 0px solid; BORDER-TOP: 0px solid;" autofocus></textarea>
    </div>

    <div data-options="region:'south',split:true" title="发送方式" style="height:15%;">
        <a id="choosebtn" href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-drawer'" onclick="">选择模板</a>
        <a id="sendbtn"href="javascript:void(0)" id="sendNow" class="easyui-linkbutton" data-options="iconCls:'icon-envelop'" onclick="sendNow()">即刻发送</a>
        <a id="sendlbtn"href="javascript:void(0)" id="sendLater" class="easyui-linkbutton" data-options="iconCls:'icon-clock'" onclick="sendLater()">定时发送</a>
    </div>
    <!--Dialog-->
    <div id="dialog">
        <span style="margin-left: 20px; ">发送时间:</span>
        <input id="dd"  type="text">
    </div>
</div>
<script>
    //i18n
    $.language.department = {"en":"Department : ","zh":"部门 ："};
    $.language.staff = {"en":"Staff : ","zh":"人员 ："};
    $.language.device = {"en":"	Device ID : ","zh":"设备编号 ："};
    $.language.content = {"en":"	Content  ","zh":"消息内容 ："};
    $.language.choosebtn = {"en":"Select template ","zh":"选择模板 "};
    $.language.sendbtn = {"en":"Send immediately","zh":"即可发送"};
    $.language.sendlbtn = {"en":"Timed send ","zh":"定时发送"};

    $("#layout").attr('title',$.language.i18n("content"));
    $("#choosebtn").text($.language.i18n("choosebtn"));
    $("#sendbtn").text($.language.i18n("sendbtn"));
    $("#sendlbtn").text($.language.i18n("sendlbtn"));


    /*即刻发送*/
    function sendNow(){
        $.messager.confirm('即刻发送','确认是否现在发送？', function (flag) {
            if (flag) {
                alert('发送成功！');
            }
        });
    }
    /*定时发送*/
    function sendLater(){
        /*dialog*/
        $("#dialog").dialog({
            title:'选择时间',
            modal:'true',
            width:400,
            height:100,
            buttons : [{
                text : '保存',
                iconCls : 'icon-checkmark',
                handler : function () {
                    alert('成功！');
                    $('#dialog').dialog('close');
                }
            },{
                text:'取消',
                iconCls:'icon-cross',
                handler: function () {
                    $('#dialog').dialog('close');
                }
            }]
        });

        $('#dd').datetimebox({
            required:true
        });
    }


</script>


</body>
</html>